<h1>Posts</h1>
<h2>Alteração de post</h2>
<%=form_for @Post do |f|%>
    <p><b>Titulo</b></p> <%=f.text_field :title%>
    <p><b>Descrição</b></p> <%=f.text_area :description%>
    <br>
    <%=f.update 'Salvar'%>
<%end%>
