<h1>Posts</h1>
<table border="1">
    <thead>
        <tr>
            <td><b>Titulo</b></td> 
            <td><b>ação</b></td>
        </tr>
    </thead>
    <tbody>
        <% @AllPosts.each do |note| %>
            <tr>
                <td>
                    <%=note.title%>
                </td>
                <td>
                    <a href="posts/<%=post.id%>">Visualizar</a>
                    <%= link_to 'Excluir', note, method: :delete, data: { confirm: "Deseja excluir o registro?"} %>
                </td>
            </tr>
        <%end%>
            
    </tbody>
</table>
<br>
<a href="posts/new">Criar</a>